mixin loginForm(buttonName, passUrl)
    div(class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100")
      div(class="card-body")
        div(class="form-control")
          label(class="label")
            span(class="label-text") 아이디
          input(id='ID' type="text", class="input input-bordered")
        div(class="form-control")
          label(class="label")
            span(class="label-text") 비밀번호
          input(id='password' type="password", class="input input-bordered")
          label(class="label")
            a(href=`${url}`, target='blank' class="label-text-alt link link-hover") 계정이 없으신가요?
            form(action=`${passUrl}`, method="post") 
              input(id='form_cust_key' type="hidden", class="input input-bordered")  
              button(id='form_next_step' class="label-text-alt link link-hover text-center") 건너뛰기
          div(class="form-control mt-6")
            button(id=`${buttonName}` class="btn btn-primary") 로그인
