mixin loginForm(passUrl)
    div(class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100")
      div(class="card-body")
        div(class="form-control")
          label(class="label")
            span(class="label-text") 아이디
          input(id='ID' type="text", class="input input-bordered")
        div(class="form-control")
          label(class="label")
            span(class="label-text") 비밀번호
          input(id='password' type="password", class="input input-bordered")
          label(class="label")
            a(href=`${url}`, class="label-text-alt link link-hover") 계정이 없으신가요?
        div(class="form-control mt-6")
          button(id='loginBtn' class="btn btn-primary") 로그인
        a(href=passUrl, class="label-text-alt link link-hover text-center") 건너뛰기