mixin nextStep(passUrl)
  div#confirmModal(class="hidden alert alert-success shadow-lg z-10 absolute justify-center ease-in-out")
    div
      svg(xmlns="http://www.w3.org/2000/svg", class="stroke-current flex-shrink-0 h-6 w-6", fill="none", viewBox="0 0 24 24")
        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
          span 인증 성공!
          form(action=`${passUrl}`, method="post")  
            input(type='hidden' id='cust_key')
            button(class="btn btn-outline btn-sm") 다음 페이지