extends ./templates/base.pug

block content
 div(class="hero min-h-screen bg-base-200")
  div(class="hero-content flex-col lg:flex-row-reverse")
    div(class="text-center lg:text-left")
      h1(class="text-2xl font-bold") 한도 조회를 위해 개인신용정보를 송부합니다.
      p(class="py-6") NICE평가정보 개인신용점수 및 한도 평가를 위한 정보를 비플러스로 송부합니다.
      p 핸드폰 또는 신용카드 인증이 필요하므로 준비해주세요.
      p(class="font-bold") 여러 번 조회해도 신용점수에 영향을 주지 않습니다.
      p(class="py-6 text-xs") 한도조회결과는 영업시간 중 한 시간 이내 / 영업시간 이외 익일 오전 통보됩니다.
    div(class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 mx-20")
      div(class="card-body")
        form(name="form" method='post')
          input(type="hidden", id="time_stamp", name="time_stamp")
          input(type="hidden", id="svc_gb", name="svc_gb", value="81")
          input(type="hidden", id="encrypt_data", name="encrypt_data")
          input(type="hidden", id="user_id", name="user_id")
          input(type="hidden", id="login_id", name="login_id")
          input(id="return_url", type="hidden", class="form-input rounded-lg px-4 py-3")
          input(id="return_target", type="hidden", class="form-input rounded-lg px-4 py-3")
          div(class="form-control")
            label(class="label")
              span(class="label-text") 이름
            input(id='res_name' type="text", placeholder="홍길동", class="input input-bordered")
          div(class="form-control")
            label(class="label")
              span(class="label-text") 주민등록번호
            div(class='flex justify-around')
              input(id='res_no1' type="text", placeholder="000000", class="input input-bordered w-2/5" maxlength="6")
              span(class='w-1/5 text-center') -
              input(id='res_no2' type="text", placeholder="XXXXXXX", class="input input-bordered w-2/5" maxlength="7")
          div(class="form-control")
            label(class="label")
              span(class="label-text") 사업자번호
            input(id='biz_no' type="text", placeholder="1112233333", maxlength="10", class="input input-bordered")
          div(class="form-control")
            label(class="label")
              span(class="label-text") 전화번호
            input(id='cust_key' type="text", placeholder="01012345678", maxlength="11", class="input input-bordered")
          div(class="form-control mt-6")
            button(class="btn btn-primary" id="sendNice") 제출하기

block scripts
  script(src="/static/js/apply.js", type='module')

