extends ./templates/moreInfo.pug

block ID
  div(class="text-center lg:text-left")
      h1(class="text-5xl font-bold") Login now!
      p(class="py-6") Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
