extends ./templates/moreInfo.pug

block ID
  div(class="text-center lg:text-left")
    h1(class="text-3xl font-bold") 추가 정보 제공
    p(class="py-6") 여신금융협회 카드매출정보 스크래핑을 진행합니다.
    ul(class="steps steps-vertical")
      li(class="step step-secondary") 여신금융협회 정보 제공
      li(class="step") 배달의민족 정보 제공
      li(class="step") 쿠팡이츠 정보 제공

