extends ./templates/base.pug

block content

  div#confirmModal(class="hidden alert alert-success shadow-lg z-10 absolute justify-center ease-in-out")
    div
      svg(xmlns="http://www.w3.org/2000/svg", class="stroke-current flex-shrink-0 h-6 w-6", fill="none", viewBox="0 0 24 24")
        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
          span 인증 성공! 
          button(class="btn btn-outline btn-sm")
            a(href='/cardsales') 다음 페이지

  div(class="hero min-h-screen bg-base-200")
  
    div(class="hero-content text-center")
      div(class="max-w-md")
        h1(class="text-3xl font-bold") 공동인증서 인증을 진행합니다.
        p(class="pt-6") 해당 단계는 Windows PC 에서만 진행 가능합니다.
        p(class="pb-6") 
          b 다운로드된 모듈을 설치한 다음 인증을 진행하여 주세요.
        |
        p 스마트폰을 이용중이신가요?
        p 입력해주신 이메일로 자료 제출 링크를 송부드렸습니다!
        p(class="pb-6") 수신함을 확인해주세요.
        p 공동인증서가 없으시거나, Windows OS가 아니신가요?
        | 아래 챗봇을 이용하여 서류를 제출이 가능합니다.

        div(class='flex justify-around py-6')
          a(class="btn btn-primary" id='cert') 인증하기
          a(class="btn btn-outline btn-accent" id='downloadCertModule' href='static/cert/ExAdapter_Web_Setup_20210225.exe') 모듈 다운로드
        a(class='link link-accent btn-ghost' href='https://sprw.io/stt-3c73df') 챗봇으로 서류 제출하기

  div(class="dim-layer")


    div(class="dimBg")
      #layer(class="pop-layer")

        div(class="pop-container")
          div(style="float: left; font-size: 2em; font-weight: bold; color: teal") 공인인증 전자서명
          div(style="height: 100px")
          div(style="font-size: 1.6em; font-weight: bold; margin-bottom: 5px") 인증서 선택
          div
            div(style="width: 520px")
              table(style="width: 520px; border: 0px; table-layout: fixed")
                thead
                  tr
                    th(style="width: auto; border: 1px solid rgba(128, 128, 128, 0.2)") 구분
                    th(style="width: 230px; border: 1px solid rgba(128, 128, 128, 0.2)") 인증서명
                    th(style="width: 100px; border: 1px solid rgba(128, 128, 128, 0.2)") 만료일
                    th(style="width: 100px; border: 1px solid rgba(128, 128, 128, 0.2)") 발급자
                    th(style="width: 40px; border: 1px solid rgba(128, 128, 128, 0.2)") 위치
            div(style="width: 537px; height: 200px; overflow-y: scroll")
              table(style="width: 100%; margin-bottom: 30px; border: 0px; table-layout: fixed")
                tbody#tbody(style="text-align: center")
          div
            div(style="font-size: 1.6em; font-weight: bold; margin-bottom: 5px; border-bottom: 1px solid #ddd; margin-top: 40px")
              | 인증서 암호입력
            div(style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center")
              input#signPw(type="password", style="width: 500px; height: 30px; margin-top: 10px")
              div(style="font-size: 1.2em; margin-top: 10px") 안전한 개인정보 관리를 위해 6개월마다 비밀번호를 변경하기 바랍니다.
          div(class="pop-conts", style="border-top: 1px solid #ddd; margin-top: 10px")
            div(style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 10px")
              button(class="btn btn-default btn-layerClose", style="margin-right: 20px", id='certCancel') 취소
              button(class="btn btn-success btn-layerConfirm", id='certConfirm') 확인



block scripts
  script(src="/static/js/cert.js", type='module')
