extends ./templates/base.pug

block content 
  div(class="hero min-h-screen bg-base-200")
    div(class="hero-content text-center")
      div(class="max-w-md")
        div(class='flex items-center justify-around')
          figure(class='w-1/2 justify-center')
            img(id='mainLogo' class='py-10 w-fit')
          figure(class='w-1/3 justify-center')
            img(id='KCDLogo' class='py-10 w-fit')  
        div(class="divider mt-0") 
        p(class="text-xl md:text-2xl font-bold lg:text-3xl pb-4") 안녕하세요, 캐시노트 쓰시는 사장님!  
        p(class="text-sm lg:text-lg") 동네가게와 지역주민 모두가 만족하는 중금리대출,
        p
          span(class='text-accent font-bold text-sm lg:text-lg') 우리동네대출
          | 을 소개합니다.
        p(class="pt-6 text-sm lg:text-md") '우리동네대출’은 동네의 가게와 지역주민을 연결하는
        p(class="text-sm lg:text-md") 
          |
          a(href='https://benefitplus.kr/loans' target='blank' class='bg-primary font-bold') 비플러스
          | 의 온라인투자연계금융 서비스입니다.
        p(class="pt-6 text-sm lg:text-md") 지역주민의 소액자금을 모아서
        p(class="text-sm lg:text-md") 동네가게에 꼭 필요한 운영자금을 전달하고,
        p(class="text-sm lg:text-md") 동네가게는 매달 이자와 리워드를 제공하여 
        p(class="text-sm lg:text-md") 투자자를 단골손님으로 유입합니다.
        p(class="pt-6 text-sm lg:text-md") 비플러스에서 진짜 중금리대출을 만나보세요.
        p(class="text-sm lg:text-md") 최저 연  
          span 5.0% 
          | 에서 
          span(class='text-sm lg:text-md') 최대 연 
          span(class='font-bold') 9.9%! 
        p(class="text-sm lg:text-md") 한도 
          span(class='font-bold') 5천만원!

        p(class="py-2 text-xs lg:text-md text-gray-400")
          | (해당 상품은 
          span(class='text-teal-400 font-bold') 캐시노트
          | 를 쓰고 계시는 
          b(class="text-gray-600") 외식업 
          | 사장님들을 위한 대출 상품입니다.)

        a(class="btn btn-primary" href='/apply') 접수하기

        div(class="divider") 

        p(class='text-xs text-gray-400') 대출금리 연 19.9%이내(연체금리 약정금리 +3%이내, 법정최고금리 20%이내, 취급 수수료 외 기타 부대비용은 없습니다. (다만, 대출실행건에 한하여 신용조회비가 발생할 수 있습니다.) 중도상환수수료 없습니다.(원리금 첫회 납입 후 전액 중도상환만 가능)
        p(class='text-xs text-gray-400') 중개수수료를 요구하거나 받는 행위는 불법입니다. 
        P(class='text-xs text-gray-600 font-bold') 과도한 빚은 당신에게 큰 불행을 안겨줄 수 있습니다.
        P(class='text-xs text-gray-400') 대출 시 귀하의 신용등급이 하락할 수 있습니다.
        p(class='text-xs text-gray-600 pt-4') 문의 02-733-0703

block scripts
  script(src="/static/js/homeKCD.js", type='module')



