extends ./templates/base.pug

block content 
  div(class="hero min-h-screen bg-base-200")
    div(class="hero-content text-center")
      div(class="max-w-md")
        img(id='mainLogo' class='py-10')
        div(class="divider") 
        span(class="text-4xl font-bold") 안녕하세요! 
        span(class="text-primary text-4xl font-bold") 비플러스
        span(class="text-4xl font-bold") 입니다.
        p(class="py-6") 비플러스에서는 동네에서 투자받을 수 있습니다.
        a(class="btn btn-primary" href='/apply') 접수하기

block scripts
  script(src="/static/js/home.js", type='module')



