extends ./templates/base.pug

block content 
  div(class="hero min-h-screen bg-base-200")
    div(class="hero-content text-center")
      div(class="max-w-md")
        div(class='flex items-center justify-around')
          figure(class='w-1/2 justify-center')
            img(id='mainLogo' class='py-10 w-fit')
          figure(class='w-1/3 justify-center')
            img(id='KCDLogo' class='py-10 w-fit')  
        div(class="divider") 
        p(class="text-xl md:text-2xl font-bold lg:text-3xl pb-4") 안녕하세요, 캐시노트 쓰시는 사장님!  
        p(class="text-sm lg:text-lg") 동네가게와 지역주민 모두가 만족하는 중금리대출,
        p
          span(class='text-accent font-bold text-sm lg:text-lg') 우리동네대출
          | 을 소개합니다.
        p(class="pt-6 text-sm lg:text-md") '우리동네대출’은 동네의 가게와 지역주민을 연결하는
        p(class="text-sm lg:text-md") 
          |
          a(href='https://benefitplus.kr/loans' target='blank' class='bg-primary font-bold') 비플러스
          | 의 온라인투자연계금융 서비스입니다.
        p(class="pt-6 text-sm lg:text-md") 지역주민의 소액자금을 모아서
        p(class="text-sm lg:text-md") 동네가게에 꼭 필요한 운영자금을 전달하고,
        p(class="text-sm lg:text-md") 동네가게는 매달 이자와 리워드를 제공하여 
        p(class="text-sm lg:text-md") 투자자를 단골손님으로 유입합니다.
        p(class="pt-6 text-sm lg:text-md") 최대 금리 
          span(class='font-bold') 9.9%! 
        p(class="text-sm lg:text-md") 비플러스에서 진짜 중금리대출을 만나보세요.
        p(class="pt-6 text-sm lg:text-md")
          | 해당 상품은 
          span(class='text-teal-400 font-bold') 캐시노트
          | 를 쓰고 계시는
        p(class="pb-6 text-sm lg:text-md") 외식업 사장님들을 위한 대출 상품입니다.

        a(class="btn btn-primary" href='/apply') 접수하기

block scripts
  script(src="/static/js/homeKCD.js", type='module')



