extends ./templates/base.pug

block content 
  div(class="hero min-h-screen bg-base-200")
    div(class="hero-content text-center")
      div(class="max-w-md")
        img(id='mainLogo' class='py-10')
        div(class="divider") 
        h1(class="text-3xl font-bold") 비플러스 대출에 적합하지 않습니다.
        p(class="py-6") 다른 상품을 이용하여 주세요.
        button(class="btn btn-primary")
          a(href='/') 처음으로 돌아가기

block scripts
  script(src="/static/js/home.js", type='module')