extends ./templates/base.pug

block content 
  div#confirmModal(class="hidden alert alert-success shadow-lg z-10 absolute justify-center ease-in-out")
    div
      svg(xmlns="http://www.w3.org/2000/svg", class="stroke-current flex-shrink-0 h-6 w-6", fill="none", viewBox="0 0 24 24")
        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
          span 제출이 완료되었습니다.
          button(class="btn btn-outline btn-sm") 
            a(href='https://benefitplus.kr') 홈페이지로 돌아가기

    div(id='errorModal' class="alert hidden alert-error shadow-lg z-10 absolute justify-center ease-in-out")
    div
      svg(xmlns="http://www.w3.org/2000/svg", class="stroke-current flex-shrink-0 h-6 w-6", fill="none", viewBox="0 0 24 24")
        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z")
          span 앗! 일부 서류가 미비되었습니다. 비플러스에서 곧 연락드리겠습니다.

  div(class="hero min-h-screen bg-base-200")
    div(class="hero-content text-center")
      div(class="max-w-md")
        h1(class="text-3xl font-bold") 스크래핑이 진행중입니다.
        p(class="py-6") 1분 내외로 시간이 소요됩니다. 화면을 벗어나지 마시고 기다려주세요.
        div(class="flex items-center justify-center space-x-2")
          div(class="w-4 h-4 rounded-full animate-pulse dark:bg-yellow-400")
          div(class="w-4 h-4 rounded-full animate-pulse dark:bg-yellow-400")
          div(class="w-4 h-4 rounded-full animate-pulse dark:bg-yellow-400")

block scripts
  script(src="/static/js/save.js", type='module')