doctype html
html(lang="ko" data-theme="bumblebee")
  head
    meta(charset="UTF-8")
    meta(name='description', content='하이퍼로컬 금융, 비플러스')
    meta(name="keywords", content="비플러스,BPLUS,핀테크,P2P금융,P2P대출,P2P투자,대출,신용대출,대환대출,소액대출,대출이자계산기,투자,재테크,소액투자,목돈만들기,직장인재테크,크라우드펀딩")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:site_name", content="우리동네대출 신청하기")
    meta(property='og:description', content='하이퍼로컬 금융, 비플러스')
    meta(property="og:url", content="https://loan.benefitplus.kr")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet", href="/static/css/styles.css")
    link(rel='stylesheet', href='/static/cert/css/layerPopup.css')
    link(rel="stylesheet", as="style", crossorigin, href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css")
    title 우리동네대출 접수하기
  body 
    block content
    script(src='/static/js/main.js' type='module')
    block scripts
    