doctype html
html(lang="ko" data-theme="bumblebee")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/static/css/styles.css")
    link(rel="stylesheet", as="style", crossorigin, href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css")
    title 우리동네대출 접수하기
  body 
    script(src='/assets/main.js')
    block content
  